.PersonalInfo {
  display: flex;
}

.PersonalInfo-left {
  height: 1080px;
  width: 1098px;
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
}
.PersonalInfo-headerContainer {
  height: 150px;
  display: flex;
}
.PersonalInfo-right {
  height: 1080px;
  width: 822px;
}

.PersonalInfo-header {
  display: flex;
  justify-content: space-between;
  height: 88px;
  width: 798px;
  margin-left: 62px;
  margin-right: 150px;
  border-bottom: 1px solid #474747;
}

.PersonalInfo-backBtn {
  color: #2e2e2e;
  background: #ffffff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 28px;
  margin-left: 48px;
  margin-top: 45px;
}

.vector {
  margin-left: 8px;
  cursor: pointer;
}

.Header-txt {
  font-family: Helvetica Neue;
  margin-top: 47px;
  color: #1a1a1a;
  font-size: 24px;

  font-weight: bold;
}

.Header-pg {
  margin-top: 47px;
  color: #1a1a1a;
  font-size: 20px;
}

.Input-container {
  display: flex;
}

.Name-container {
  width: 419px;
  height: 122px;
  margin-left: 126px;
}

.Name {
  height: 35px;
  width: 350px;
  margin-left: 24px;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.Name-valid {
  height: 35px;
  width: 350px;
  margin-left: 24px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.LastName-container {
  width: 419px;
  height: 122px;
}

.NameInput {
  width: 339px;
  background: #ffffff;
  margin-left: 24px;
  padding-inline: 16px;
  padding-block: 13px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #bcbcbc;
}

.Photo-container {
  display: flex;
  margin-top: 54px;
}

.Personal-photoUp {
  /* 232 after fonts */
  width: 247px;
  margin-left: 150px;
  font-weight: 500;
  font-size: 18px;
}

.Photo-upload {
  border: none;
  margin-left: 19px;
  font-size: 14px;
  background: #0e80bf;
  color: #ffffff;
  border-radius: 4px;
  padding-inline: 19px;
  padding-top: 4px;
  padding-bottom: 6px;
}
