.Next-btn {
  font-size: 16px;
  font-weight: 500;
  width: 151px;
  padding-block: 14px;
  border-radius: 4px;
  border: none;
  background: #6b40e3;
  margin-left: 797px;
  margin-top: 160px;
  color: #ffffff;
}
