.App-container {
  display: flex;
}

.Output {
  height: 1080px;
  width: 822px;
}

.Output-personalInfo {
  display: flex;
}

.Output-left {
  width: 501px;
}

.Output-nameGroup {
  display: flex;
  color: #f93b1d;
  font-size: 34px;
  margin-left: 80px;
  margin-top: 68px;
  font-weight: 700;
}

.Output-name {
  margin-right: 20px;
}

.Output-email {
  color: #1a1a1a;
  font-size: 18px;
  margin-left: 82.67px;
  margin-top: 17px;
}

.Output-phone {
  color: #1a1a1a;
  font-size: 18px;
  margin-left: 82.55px;
  margin-top: 10px;
}

.Output-aboutMeTitle {
  color: #f93b1d;
  font-size: 18px;
  margin-left: 80px;
  font-weight: 700;
  margin-top: 34px;
}

.Output-aboutMe {
  font-size: 16px;
  margin-left: 80px;
  margin-top: 15px;
}

.Output-photo {
  height: 246px;
  width: 246px;
  background: rgb(234, 232, 232);
  margin-top: 48px;
  border-radius: 50%;
}
