@font-face {
  font-family: "HelveticaNeue";
  src: url("../public/fonts/HelveticaNeue.ttc");
}
html * {
  font-family: "HelveticaNeue";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
